<div class="container-fluid mt-3">
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center text-lg-left text-muted">
                    &copy; 2019 <a href="https://www.navy.mil.bd/" class="font-weight-bold ml-1"
                                   target="_blank">Bangladesh Navy</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="https://www.neurostormsoft.com/" class="nav-link" target="_blank">Developed &amp; Maintained by NeuroStorm.</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>