@model BnHomeAllocationApp.Models.BuildingType

@{
    ViewData["Title"] = "Details";
}

@section Css {
    <link asp-append-version="true" rel="stylesheet" href="~/vendor/fonts/roboto-condensed/css.css">
}

@section Sole {

}

<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 d-inline-block mb-0">Details</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a asp-action="Index">Building Types</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Details</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" asp-action="Index">Back to List</a>
                    <a class="btn btn-sm btn-neutral" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header">
            <h3 class="mb-0">Details Building Type</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-items-center table-hover table-striped table-bordered" id="datatable-basic2">
                    <tr>
                        <td class="col-1">
                            <label class="mb-0">Name :</label>
                        </td>
                        <td class="col-11">
                            <label class="mb-0 font-weight-bold">@Html.DisplayFor(model => model.Name)</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>